.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 3;
  background: #040b1a;
  transition: width 0.4s;
}
.sidebar--expanded {
  width: 250px;
}
.sidebar--contracted {
  width: 50px;
}

.sidebar--contracted .sidebar__hambuguer {
  display: flex;
  justify-content: center;
}
.sidebar--expanded .sidebar__hambuguer {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
