table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  border: 1px solid #dddddd;
  padding: 10px;
}

th {
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  color: white;
}
